extends layout

block content
    div.card-container
    a.card(href="/turn?choice=rock") rock
        img(src="/images/rock-icon.jpeg")
    a.card(href="/turn?choice=paper") paper
        img(src="/images/paper-icon.jpeg")
    a.card(href="/turn?choice=scissors") scissors
        img(src="/images/scissors-icon.jpeg")
